

*{
box-sizing: border-box;}

body > div:nth-of-type(1){
    background-color: hsla(185,50%,35%,1);
    height:100px;
    width:100%;
}


body div:nth-of-type(2){
   display:flex;
    flex-direction: column;
    width:40%;
    justify-content: center;
    margin:20px auto;
    background-color: hsla(185,50%,45%,1);
    padding:29px;
    text-align: center;
    flex:1;
}

button{
    text-align: center;
    flex:1;
}

input{
    text-align: center;
    height:100%;
    flex:1;

    margin:10px 0 5px;
    
    padding:0;
}

div > div{
    display: block;
    height: 20px;

    background-color: hsla(185,60%,70%,1);

}

#sign_up{

}