

<<<<<<< HEAD
*{
box-sizing: border-box;}

=======
>>>>>>> 28cfaf517e742796d76808a85926797b1956d546
body > div:nth-of-type(1){
    background-color: hsla(185,50%,35%,1);
    height:100px;
    width:100%;
}


form{
   display:flex;
    flex-direction: column;
    width:40%;
    justify-content: center;
    margin:20px auto;
    background-color: hsla(185,50%,45%,1);
<<<<<<< HEAD
    padding:29px;
    text-align: center;
    flex:1;
=======
    padding:40px;
    text-align: center;
>>>>>>> 28cfaf517e742796d76808a85926797b1956d546
}

button{
    text-align: center;
    flex:1;
}

input{
    text-align: center;
    height:100%;
    flex:1;
<<<<<<< HEAD
    margin:10px 0 5px;
    padding:0;}

div > div{
    display: block;
    height: 20px;

    background-color: hsla(185,60%,70%,1);

=======
}

h3{
    display: block;
    height: 20px;
    padding:0;
    background-color: hsla(185,60%,70%,1);
>>>>>>> 28cfaf517e742796d76808a85926797b1956d546
}

#sign_up{

}